.header{

   font-size: 12px;
}

.logo{
  border-radius: 50%;
  float: left;
}
.logo img{
  height: 45px;
  width: 45px;
}
.profile{
  float: left;
  padding-top: 15px;
  padding-left: 5px;

}
.user-container{
  float: right;
  padding: 7px;
}
.dp{
  float:left;
}
.username{
  color: #585858;
  padding:2px;

}
.email{
  color: #C0C1C2;

}

.clear{
  clear: both;
}
