.profile-info{
  margin-bottom: 10px;
}
.save-button{
  background-color: #08c4a4;
  padding: 10px;
  color: white;
}
.date{
  font-size: 12px;
  color: #C0C1C2;
}
.input-name{
  font-size: 14px;
  color: #959696;
  padding-bottom: 2px;
}
.input{
  margin-bottom: 15px;
}
input[type="text"]{
  padding: 4px;
   line-height: 15px;
   width: 190px;
 }
 input::placeholder{
   color: #D4D8D9;
   opacity: 0.5;
 }
 input::-webkit-input-placeholder { /* Chrome */
  color: red;
}
input[type="date"]::-webkit-input-placeholder {
  color: orange;
}
